.room{ data: { 'room-id': @room.id } }
  .room-main
    %h1= @room.name

    .room-main__messages
      %h2 チャット
      = render 'messages/messages', room: @room

    .room-main__player
      - if @room.playing_game? && current_user.join_game?(@room.current_game)
        = render 'players/show', game: @room.current_game, player: @room.current_game.find_player_by_user(current_user)

    .room-main__new-message
      = render 'messages/new', room: @room

    %div{ class: hiding_bem_class("room-main__new-game", !@room.waiting?) }
      = render 'games/new', room: @room

  .room-sidebar
    %h1 ゲームの状態

    .room-sidebar__status
      = @room.status

    .room-sidebar__members
      %h2 参加者
      - @room.members.each do |member|
        %p= member.name
