.room{ data: { 'room-id': @room.id } }
  .room__main
    .room__notifier
      - if @room.waiting?
        参加者が揃ったら「ゲーム開始」ボタンを押してください
      - elsif @room.playing_game? && !current_user.join_game?(@room.current_game)
        ゲーム中です。ゲームが終わるまで待っていてください。
      - else
        あなたはゲーム参加者です。頑張ってください！

    .room__game
      - if @room.playing_game?
        = render 'games/game', game: @room.current_game

    .room__messages
      = render 'messages/messages', room: @room

    .room__player
      - if @room.playing_game? && current_user.join_game?(@room.current_game)
        = render 'players/player', game: @room.current_game, player: @room.current_game.find_player_by_user(current_user)

    .room__form
      .room__new-message
        = render 'messages/new', room: @room

  .room__sidebar
    %div{ class: hiding_bem_class("room__new-game", !@room.waiting?) }
      = render 'games/new', room: @room

    .room__members
      %h2 参加者
      - @room.members.each do |member|
        %p{ class: (current_user == member ? 'room__member--current' : 'room__member') }= member.name
