.room{ data: { 'room-id': @room.id } }
  .room__main
    .room__notifier
      - if @room.waiting?
        = render 'rooms/waiting_notifier'
      - elsif @room.playing_game? && !current_user.join_game?(@room.current_game)
        = render 'rooms/watching_notifier'
      - else
        = render 'rooms/playing_notifier', head: @room.current_game.top_layout.char

    .room__game
      - if @room.playing_game?
        = render 'games/game', game: @room.current_game

    .room__messages
      = render 'messages/messages', room: @room

    .room__player
      - if @room.playing_game? && current_user.join_game?(@room.current_game)
        = render 'players/player', game: @room.current_game, player: @room.current_game.find_player_by_user(current_user)

    .room__form
      .room__new-message
        = render 'messages/new', room: @room

  .room__sidebar
    %div{ class: add_modifier_class('room__new-game', 'disabled', !@room.waiting?) }
      = render 'games/new', room: @room

    .room__members
      = render 'rooms/members', room: @room
